<html lang="en" xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<title>List Employees</title>
		
		<link rel="stylesheet" 
			href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" 
			integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" 
			crossorigin="anonymous" />
	</head>
	
	<body>
		
		<div class="container">
		
			<h3 style="margin-top:25px;">Employee Details</h3>
			
			<hr/>
		
			<table class="table table-bordered table-striped">
			
				<thead>
					<tr>
						<th>Emp id</th>
						<th>Name</th>
						<th>Designation</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="employee: ${employeeDetails}">
						<td th:text="${employee.empid}" />
						<td th:text="${employee.name}" />
						<td th:text="${employee.designation}" />
					</tr>
				</tbody>
				
			</table>
		</div>
		
		
	</body>
	
</html>